# Godot 4+ specific ignores
.godot/
/android/

# Ignore Godot specific files and folders
.import/
.export/
.vscode/
.idea/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore Godot editor user settings
user://